.ios-table-view {

  ul {
    background-color: white;
    list-style-type:none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #C8C7CC;
  }

  li {
    padding: 0;
  }

  li:not(.title)+li:not(.title)::before {
    content: '';
    display: list-item;
    border-top: 1px solid #C8C7CC;
  }
  @media(-webkit-min-device-pixel-ratio:2) {
    li:not(.title)+li:not(.title)::before {
      border-top: 0.99px solid #C8C7CC;
    }
  }
  @media(-webkit-min-device-pixel-ratio:3) {
    li:not(.title)+li:not(.title)::before {
      border-top: 0.49px solid #C8C7CC;
    }
  }

  li.section-title {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    background-color: #F7F7F7;
  }

  li > * {
    padding: 10px 0 10px 16px;
  }

  a {
    display: block;
    text-decoration: none;
  }
  a:link {
    color: black;
  }
  a:visited {
    color: black;
  }
  a:active {
    color: black;
    background-color: #C8C7CC;
  }
}