<!DOCTYPE html>
<html>
  <head>
    <title>D'ranker</title>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
